body {
    overflow: hidden !important;
    height: 100vh !important;
}

html {
    overflow: hidden !important;
}

.max-w-2xl {
    max-width: 42rem !important;
}

.profile-img {
    width: 8rem !important;
    height: 8rem !important;
}

#profile-name {
    font-size: 1.5rem !important;
}

.btn {
    width: 60px !important;
    height: 60px !important;
}

@media (max-width: 640px) {
    .profile-img {
        width: 6rem !important;
        height: 6rem !important;
    }
    .btn {
        width: 50px !important;
        height: 50px !important;
    }
    .icon {
        width: 30px !important;
        height: 30px !important;
    }
    #profile-name {
        font-size: 1.2rem !important;
    }
}
